<body> 
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <nav>
            <!-- TODO: -->
            <ul id="nav">
	            <li class="item"><a href="articles.html">Articles</a></li>
	            <li class="item"><a href="portfolio.html">Portfolio</a></li>
	            <li class="item"><a href="current.html">Current Projects</a></li>
	            <li class="item"><a href="about.html">About</a></li>
	        </ul>
        </nav>

        <main>